:root {
    --text: #434455;
    --white: #ffffff;
    --interactive-elements: #4d5ae5;
    --dark-color: #2e2f42;
    --portfolio-btn: #404BBF;
    --secondary-background-color: #f4f4fd;
    --subtle-background: #e7e9fc;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --gra-grey: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --border-cust: #8E8F99;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--text);
    background-color: var(--white);
    font-family: var(--primary-font);
    margin: auto;
}
    
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
    
ul {
    margin-top: 0;
     margin-bottom: 0;
    padding-left: 0;
}
    
img {
    display: block;
}

textarea {
    resize: none;
}

label {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo:hover,
.logo:focus {
    color: var(--interactive-elements);
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-right: 76px;
    transition: color 250ms var(--cubic);
}

.logo-color {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--interactive-elements);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms var(--cubic);
}

.curent {
    color: var(--portfolio-btn);
    position: relative;
}

.curent::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--portfolio-btn);
    border-radius: 2px;
    position: absolute;
    left: 0px;
    bottom: -28px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--interactive-elements);
}

.contact {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--interactive-elements);
}

.contact-link {
    color: var(--text);
    transition: color 250ms var(--cubic);
}


.hero {
max-width: 1400px;
margin: auto;
background-color: var(--dark-color);
letter-spacing: 0.02em;
text-align: center;
padding-top: 188px;
padding-bottom: 188px;
background-image: var(--gra-grey), url(../images/hero-background.jpg);
background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    max-width: 500px;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white);
    letter-spacing: 0.02em;
    margin: auto;
    margin-bottom: 48px;
}

.btn {
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
cursor: pointer;
color: var(--white);
background: var(--interactive-elements) ;
letter-spacing: 0.04em;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
transition: background-color 250ms var(--cubic);
}

.btn:hover,
.btn:focus {
    background-color: var(--portfolio-btn);
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: auto;
    color: var(--text);
}

.subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--dark-color);
letter-spacing: 0.02em;
margin-right: auto;
margin-bottom: 8px;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team {
    background-color: var(--secondary-background-color);
    letter-spacing: 0.02em;
    margin: auto;
}

.team-item {
    background-color: var(--white);
    letter-spacing: 0.02em;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.colleague-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.colleague-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.colleague-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--interactive-elements);
    transition: background-color 250ms var(--cubic);
}

.colleague-link:hover,
.colleague-link:focus {
    background-color: var(--portfolio-btn);
}

.footer {
    background-color: var(--dark-color);
    letter-spacing: 0.02em;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

.footer-color {
    color: var(--subtle-background);
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-first {
    margin-right: 120px;
}

.footer-second {
    text-align: center;
    margin-right: 80px;

}

.footer-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--white);
    background-color: var(--interactive-elements);
    padding: 8px 24px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms var(--cubic);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--portfolio-btn);
}

.footer-form-text {
    color: var(--white);
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
}

.footer-form input {
    margin-right: 24px;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background-color: var(--dark-color);
    color: var(--secondary-background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}


.dark-theme {
    color: var(--secondary-background-color);
    letter-spacing: 0.03em;
}

.sm-text {
    color: var(--white);
    letter-spacing: 0.02em;
    max-width: 96px;
    margin-bottom: 16px;
}

.sm-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.sm-item {
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
    transition: background-color 250ms var(--cubic)
}

.sm-link:hover,
.sm-link:focus {
    background-color: #31D0AA;
}

.portfolio-btn {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--interactive-elements);
    background: var(--secondary-background-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white);
    background-color: var(--portfolio-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
border-bottom: 1px solid #E7E9FC;
margin: auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    }

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;

}   

.sections {
    padding-top: 120px;
    padding-bottom: 120px;
}

.inf-item {
    max-width: 264px;
}

.inf-block-cons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.inf-list {
    display: flex;
    gap: 24px;
}

.inf-list{
    display: flex;
    gap: 24px;
    flex-basis: calc((100%-72px) / 4);
}



.work {
    padding-top: 0;
}

.works {
    display: flex;
    gap: 24px;
    flex-basis: calc((100%- 48px) / 3);
    flex-shrink: 0;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100%-72px) / 4);
}

.team-description {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}



.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-cust);
    border-radius: 4px;
    transition: border-color 250ms var(--cubic);
}

.icons-cust {
    fill: var(--border-cust);
    transition: fill 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--portfolio-btn);
}

.customers-link:hover .icons-cust,
.customers-link:focus .icons-cust{
    fill: var(--portfolio-btn);
}

.list-bth {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
    }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    border: 1px solid #E7E9FC;
    border-top: none;
    }

.portfolio-item:hover .portfolio-active-text,
.portfolio-item:focus .portfolio-active-text {
    transform: translateY(0);
}


.portfolio-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    }

.portfolio-link {
    transition: box-shadow 250ms var(--cubic);
}


.portfolio-link:hover,
.portfolio-link:focus    {
    display: inline-block;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
        }

.portfolio-active {
    position: relative;
    overflow: hidden;
}

.portfolio-active-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-background-color);
    background-color: var(--interactive-elements);
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
    overflow: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 408px;
    min-height: 584px;
    padding: 24px;
    background: #FCFCFC;
    border-radius: 4px;
    transition: transform 200ms linear;
}

.modal-btn {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}




.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--portfolio-btn);
    fill: var(--white);
}


.modal-title {
    margin-bottom: 14px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}


.modal-form {
    width: 360px;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic);
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px 8px 36px;
    outline: transparent;
    transition: border-color 250ms var(--cubic);
}

.modal-input:focus {
    border-color: var(--interactive-elements);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--interactive-elements);
}

.modal-name {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--border-cust);
}


.text-area {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border-color 250ms var(--cubic);
}

.text-area::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.text-area:focus {
    border-color: var(--interactive-elements);
}


.submit-bth {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--interactive-elements);
    letter-spacing: 0.04em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms var(--cubic);
}

.submit-bth:hover,
.submit-bth:focus {
    background-color: var(--portfolio-btn);
}


.privacy-link {
    color: var(--interactive-elements);
}

.checkbox-wrap {
    margin-bottom: 24px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    position: relative;
}

.checkbox-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark-color);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.modal-checkbox:checked + .checkbox-label span {
    background-color: var(--interactive-elements);
    border: none;
    fill: var(--white);
}